.siteHeading{
  margin-top: 100px;
  margin-bottom: 50px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1.7em;
  text-align: center;
  letter-spacing: 1px;
}
.pf-zindex{
position: fixed !important;
top: 0;
background-color: #fff;
z-index: 100;
}
.hoverable{
  transition: all .15s ease-in;
}
.hoverable:hover{
  transform: scale(1.05);
  transition: all .2s ease-out;
}
.cp{
  cursor: pointer;
}

header .burger,.cartIcon {
  display: none;
}

header a {
  color:#333;
  padding: 0 12px;
  text-decoration: none;
}

.active{
color:red;
}

.productImage{
 background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 250px;
  border-radius: 10px;
}
.pImage{
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 75px;
}
.sideCart.closed{
transform: translateX(100%);
transition: all .3s ease-out;
}

.sideCart{
  position: fixed;
  background-color: rgb(255, 255, 255);
  width: 30vw;
  height: 100vh;
  top: 46px;
  right: 0;
  transition: all .3s ease-in;
  z-index: 100;
}

.cartNotification{
  position: absolute;
right: 0;
top: 0;
margin-right: 30px;
margin-top: 3px;
  background-color: rgba(255, 0, 0, 0.88);
  display: flex;
  justify-content: center;
  font-size: 1em;
  color: #fff;
  font-weight: 800;
  width: 25px;
  height: 25px;
  text-align: center;
  padding: 5px auto; 
  border-radius: 50%;
  z-index: 100;
}
.btnz{
  border: none;
  outline: none;
}

@media (max-width:991px){

  .cartNotification{
top: 0;
left: 0;
margin-left: 35px;
  }
  .desktopOnly{
    display: none;
  }
  header .burger,.cartIcon {
    display: block;
    cursor: pointer;
  }

  .sideCart{
    left: 0;
  }
  .sideCart.closed{
    transform: translateX(-100%);
    transition: all .3s ease-out;
    }

  header nav { 
    position: absolute;
    right:0;
    top:39.2px;
    width:40vw !important;
    height: 100vh;
    background: white;
    padding:0 !important;
  transform: translateX(100%);
  transition: .3s all ease-out;    
  }

  .sideCart{
    width: 60vw;
    top: 37px;
  }
  
  header nav a{
    display: block;
    padding:8px;
    text-align: center;
    border-bottom: 2px solid #333; 
  }
  header nav a:hover{
    background: #333;
    color:white;
  }
}